In [1]:
import pandas as pd
import uuid
import random

## Create Dummy DataFrame

In [2]:
user_uuid = [str(uuid.uuid1()) for i in range(0,10_000)]

event_ids = [str(uuid.uuid1()) for i in range(0,1_000_000)]

category_ids = [round(random.random()*45) for i in range(0,1_000_000)]

user_ls = [user_uuid[round(random.random()*len(user_uuid))-1] for i in range(0,1_000_000)]

value_1 = [random.random() for i in range(0,1_000_000)]

value_2 = [random.random()*25 for i in range(0,1_000_000)]

value_3 = [random.random()*300 for i in range(0,1_000_000)]

df = pd.DataFrame({'user':user_ls,'event':event_ids,'category':category_ids,'a':value_1,'b':value_2,'c':value_3})

df

,user,event,category,a,b,c
0,1e1da9ca-71cc-11ed-9dda-52b6cb0f4fb4,1e202a9c-71cc-11ed-9dda-52b6cb0f4fb4,19,0.984778,14.427295,183.228581
1,1e200c56-71cc-11ed-9dda-52b6cb0f4fb4,1e202ac4-71cc-11ed-9dda-52b6cb0f4fb4,9,0.364146,3.538888,258.422913
2,1e201746-71cc-11ed-9dda-52b6cb0f4fb4,1e202ad8-71cc-11ed-9dda-52b6cb0f4fb4,13,0.805071,3.049370,62.952955
3,1e1ffb08-71cc-11ed-9dda-52b6cb0f4fb4,1e202aec-71cc-11ed-9dda-52b6cb0f4fb4,4,0.672636,21.262457,13.339472
4,1e1d3288-71cc-11ed-9dda-52b6cb0f4fb4,1e202b00-71cc-11ed-9dda-52b6cb0f4fb4,23,0.762981,18.412879,97.602146
...,...,...,...,...,...,...
999995,1e1f082e-71cc-11ed-9dda-52b6cb0f4fb4,1f32a270-71cc-11ed-9dda-52b6cb0f4fb4,38,0.756664,13.753839,281.807119
999996,1e1f9adc-71cc-11ed-9dda-52b6cb0f4fb4,1f32a284-71cc-11ed-9dda-52b6cb0f4fb4,30,0.011121,24.442645,266.079605
999997,1e1f159e-71cc-11ed-9dda-52b6cb0f4fb4,1f32a298-71cc-11ed-9dda-52b6cb0f4fb4,44,0.272200,19.010196,82.670381
999998,1e1ff0e0-71cc-11ed-9dda-52b6cb0f4fb4,1f32a2ac-71cc-11ed-9dda-52b6cb0f4fb4,7,0.294430,0.119876,46.475845
999999,1e1f9dac-71cc-11ed-9dda-52b6cb0f4fb4,1f32a2b6-71cc-11ed-9dda-52b6cb0f4fb4,26,0.556551,22.667389,59.238144

In [3]:
from panda_searches import PandaSearches

## Indexing

In [4]:
df.ps.indexing('user','event','category')

Indexing user

  0%|          | 0/1000000 [00:00<?, ?it/s]

============
Indexing event

  0%|          | 0/1000000 [00:00<?, ?it/s]

============
Indexing category

  0%|          | 0/1000000 [00:00<?, ?it/s]

============

## Search Comparison

In [7]:
test_user = df.user.sample(1).iloc[0] # Getting test user
test_user

'1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4'

In [8]:
%%time

df[df['user']==test_user]

CPU times: user 73.2 ms, sys: 2.27 ms, total: 75.5 ms
Wall time: 75.7 ms

,user,event,category,a,b,c
2720,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1e20f9b8-71cc-11ed-9dda-52b6cb0f4fb4,29,0.116998,5.982246,115.156632
6477,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1e2210aa-71cc-11ed-9dda-52b6cb0f4fb4,13,0.041612,17.655176,135.096357
9340,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1e22e908-71cc-11ed-9dda-52b6cb0f4fb4,38,0.196668,12.249295,110.667440
16929,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1e250b5c-71cc-11ed-9dda-52b6cb0f4fb4,6,0.588181,3.902155,286.950295
18268,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1e256854-71cc-11ed-9dda-52b6cb0f4fb4,41,0.339512,15.723625,58.272219
...,...,...,...,...,...,...
949706,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1f24ce02-71cc-11ed-9dda-52b6cb0f4fb4,16,0.817771,22.918996,53.241971
955358,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1f265b3c-71cc-11ed-9dda-52b6cb0f4fb4,3,0.739859,6.187227,221.118411
979321,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1f2cf46a-71cc-11ed-9dda-52b6cb0f4fb4,40,0.857945,21.376237,186.210385
986128,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1f2ed302-71cc-11ed-9dda-52b6cb0f4fb4,26,0.645745,19.707032,132.256637
995823,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1f317ca6-71cc-11ed-9dda-52b6cb0f4fb4,19,0.603324,17.007029,18.732174

In [9]:
%%time

df.ps[('user',test_user)]

CPU times: user 855 Âµs, sys: 109 Âµs, total: 964 Âµs
Wall time: 944 Âµs

,user,event,category,a,b,c
940034,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1f222616-71cc-11ed-9dda-52b6cb0f4fb4,41,0.390888,5.669329,91.803325
369669,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1e855e94-71cc-11ed-9dda-52b6cb0f4fb4,42,0.019952,19.059368,89.630842
552967,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1eb7aae8-71cc-11ed-9dda-52b6cb0f4fb4,4,0.250794,3.211227,162.828986
788492,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1ef874ce-71cc-11ed-9dda-52b6cb0f4fb4,33,0.744722,7.991271,164.722022
986128,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1f2ed302-71cc-11ed-9dda-52b6cb0f4fb4,26,0.645745,19.707032,132.256637
...,...,...,...,...,...,...
103930,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1e3ccbde-71cc-11ed-9dda-52b6cb0f4fb4,4,0.440664,9.178165,89.926232
723964,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1ee6a0e6-71cc-11ed-9dda-52b6cb0f4fb4,37,0.882526,8.478682,173.759025
322045,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1e78532a-71cc-11ed-9dda-52b6cb0f4fb4,39,0.123535,22.160108,228.851057
787454,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1ef82bcc-71cc-11ed-9dda-52b6cb0f4fb4,2,0.687704,11.896238,295.903397
390655,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1e8b1924-71cc-11ed-9dda-52b6cb0f4fb4,23,0.823207,18.698792,265.069921

## Search with AND/OR

In [15]:
%%time

df[(df['user']==test_user) & (df['category']==2)]

CPU times: user 73.4 ms, sys: 2.16 ms, total: 75.5 ms
Wall time: 74.3 ms

,user,event,category,a,b,c
432747,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1e96a3a2-71cc-11ed-9dda-52b6cb0f4fb4,2,0.612527,2.572140,211.706584
530181,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1eb1669c-71cc-11ed-9dda-52b6cb0f4fb4,2,0.599634,1.638703,192.233614
787454,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1ef82bcc-71cc-11ed-9dda-52b6cb0f4fb4,2,0.687704,11.896238,295.903397
879040,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1f115746-71cc-11ed-9dda-52b6cb0f4fb4,2,0.655103,8.945201,232.748834
936267,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1f211d3e-71cc-11ed-9dda-52b6cb0f4fb4,2,0.684433,11.871415,202.269131

In [16]:
%%time

df.ps[ [ ('user',test_user),'and',('category',2) ] ]

CPU times: user 5.84 ms, sys: 2.29 ms, total: 8.13 ms
Wall time: 8.08 ms

,user,event,category,a,b,c
879040,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1f115746-71cc-11ed-9dda-52b6cb0f4fb4,2,0.655103,8.945201,232.748834
530181,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1eb1669c-71cc-11ed-9dda-52b6cb0f4fb4,2,0.599634,1.638703,192.233614
936267,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1f211d3e-71cc-11ed-9dda-52b6cb0f4fb4,2,0.684433,11.871415,202.269131
432747,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1e96a3a2-71cc-11ed-9dda-52b6cb0f4fb4,2,0.612527,2.572140,211.706584
787454,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1ef82bcc-71cc-11ed-9dda-52b6cb0f4fb4,2,0.687704,11.896238,295.903397

## Complex Search

In [20]:
test_user_list = list(df.user.sample(5))
test_user_list

['1e1d79fa-71cc-11ed-9dda-52b6cb0f4fb4',
 '1e1dcee6-71cc-11ed-9dda-52b6cb0f4fb4',
 '1e1e8f5c-71cc-11ed-9dda-52b6cb0f4fb4',
 '1e1fc11a-71cc-11ed-9dda-52b6cb0f4fb4',
 '1e1feafa-71cc-11ed-9dda-52b6cb0f4fb4']

In [25]:
%%time

df[(df['user'].isin(test_user_list)) | ((df['user']==test_user) & (df['category']==2))]

CPU times: user 104 ms, sys: 2.15 ms, total: 106 ms
Wall time: 105 ms

,user,event,category,a,b,c
4528,1e1feafa-71cc-11ed-9dda-52b6cb0f4fb4,1e217f78-71cc-11ed-9dda-52b6cb0f4fb4,9,0.958470,15.379978,10.073909
5467,1e1feafa-71cc-11ed-9dda-52b6cb0f4fb4,1e21c51e-71cc-11ed-9dda-52b6cb0f4fb4,28,0.477015,14.315596,31.311744
8437,1e1fc11a-71cc-11ed-9dda-52b6cb0f4fb4,1e22a4f2-71cc-11ed-9dda-52b6cb0f4fb4,24,0.010789,13.772940,102.693325
8881,1e1fc11a-71cc-11ed-9dda-52b6cb0f4fb4,1e22c5cc-71cc-11ed-9dda-52b6cb0f4fb4,16,0.665855,24.353249,92.991257
12470,1e1e8f5c-71cc-11ed-9dda-52b6cb0f4fb4,1e23d05c-71cc-11ed-9dda-52b6cb0f4fb4,21,0.716742,7.983514,279.035570
...,...,...,...,...,...,...
991822,1e1d79fa-71cc-11ed-9dda-52b6cb0f4fb4,1f3063c0-71cc-11ed-9dda-52b6cb0f4fb4,20,0.889074,10.870914,56.398473
992767,1e1d79fa-71cc-11ed-9dda-52b6cb0f4fb4,1f30a61e-71cc-11ed-9dda-52b6cb0f4fb4,37,0.884156,14.408378,5.203411
994483,1e1e8f5c-71cc-11ed-9dda-52b6cb0f4fb4,1f311eaa-71cc-11ed-9dda-52b6cb0f4fb4,19,0.835260,21.928598,186.619587
996279,1e1feafa-71cc-11ed-9dda-52b6cb0f4fb4,1f319ca4-71cc-11ed-9dda-52b6cb0f4fb4,40,0.618585,23.549517,268.441819
996826,1e1dcee6-71cc-11ed-9dda-52b6cb0f4fb4,1f31c350-71cc-11ed-9dda-52b6cb0f4fb4,20,0.343465,8.614919,282.987883

In [32]:
%%time

df.ps[ [ ('user',test_user_list),'or',[ ('user',test_user),'and',('category',2) ] ] ]

CPU times: user 5.89 ms, sys: 803 Âµs, total: 6.69 ms
Wall time: 6.22 ms

,user,event,category,a,b,c
604160,1e1dcee6-71cc-11ed-9dda-52b6cb0f4fb4,1ec5bea8-71cc-11ed-9dda-52b6cb0f4fb4,16,0.329260,8.919939,292.931195
966659,1e1dcee6-71cc-11ed-9dda-52b6cb0f4fb4,1f2977ea-71cc-11ed-9dda-52b6cb0f4fb4,3,0.149895,2.093682,150.465179
431107,1e1dcee6-71cc-11ed-9dda-52b6cb0f4fb4,1e96302a-71cc-11ed-9dda-52b6cb0f4fb4,38,0.775124,19.819753,29.455428
921605,1e1dcee6-71cc-11ed-9dda-52b6cb0f4fb4,1f1d10c2-71cc-11ed-9dda-52b6cb0f4fb4,39,0.441198,22.528895,170.724996
842757,1e1d79fa-71cc-11ed-9dda-52b6cb0f4fb4,1f075f0c-71cc-11ed-9dda-52b6cb0f4fb4,10,0.600286,19.951048,157.648357
...,...,...,...,...,...,...
661496,1e1e8f5c-71cc-11ed-9dda-52b6cb0f4fb4,1ed56fb0-71cc-11ed-9dda-52b6cb0f4fb4,21,0.512757,20.325300,141.061036
379897,1e1dcee6-71cc-11ed-9dda-52b6cb0f4fb4,1e882c78-71cc-11ed-9dda-52b6cb0f4fb4,40,0.606407,15.833331,255.320220
234491,1e1d79fa-71cc-11ed-9dda-52b6cb0f4fb4,1e606c92-71cc-11ed-9dda-52b6cb0f4fb4,34,0.856802,10.323923,266.827519
533500,1e1dcee6-71cc-11ed-9dda-52b6cb0f4fb4,1eb24ff8-71cc-11ed-9dda-52b6cb0f4fb4,10,0.677911,8.788650,116.806662
787454,1e1d3b16-71cc-11ed-9dda-52b6cb0f4fb4,1ef82bcc-71cc-11ed-9dda-52b6cb0f4fb4,2,0.687704,11.896238,295.903397

## Search with Mathematical Operators (Coming Soon)